<!-- Footer -->

<footer class="colored-section footer-text" id="footer">
  <div class="container-fluid-footer footer">

    <i hidden class="social-icon fab fa-instagram"></i>


    <a class="icon-color" href="mailto:info@pontusguardias.com">
      <i class="social-icon fas fa-envelope"></i>
    </a>

    <a class="icon-color" href="https://twitter.com/pontusguardias">
      <i class="social-icon fab fa-twitter"></i>
    </a>

    <p>© Copyright 2024 PonTusGuardias.com</p>
    <p>info@PonTusGuardias.com</p>
  </div>
</footer>

</body>

</html>