
  <section class="colored-section" id="title">

    <div class="container-fluid-navbar">

      <!-- Nav Bar -->

      <nav class="navbar navbar-expand-lg navbar-dark">

        <a class="navbar-brand" href="/">PonTusGuardias.com</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/#ComoFunciona">¿Cómo funciona?</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/#form">Diseñar Planilla</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/#buscador">Buscar resultado</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/#pricing">Precios</a>
            </li>



          </ul>

        </div>
      </nav>
    </div>

</section>
      <!-- Title -->
<section>

      <div class="row container-fluid">

        <div class="col-lg-6 ">
          <h1 class="title-ptg padding30">Confecciona tu planilla fácilmente y de manera gratuita</h1>

          <button type="button" class="btn btn-ptg-naranja" onClick="document.getElementById('form').scrollIntoView();">¡Pruébame!</button>
        </div>

        <div class="col-lg-6 feature-box">
          <img class=" img-fluid foto-ptg-1"  src="images/undraw_medicine_b-1-ol.svg" alt="doctors-mockup">
        </div>

      </div>



  </section>
