<!-- Features -->

<section class="white-section" id="features">

  <div class="container-fluid">
    <h3 class="section-heading container-text">¿Cómo son las planillas?</h3>
    <div class="row">
      <div class="center col-lg-4">
        <img class=" img-fluid foto-ptg-2" src="images/undraw_schedule_re_2vro.svg" alt="doctors-mockup">
      </div>

      <div class="feature-box-clear-orange col-lg-8">

        <!--<h3 class="feature-title">Cumplimos con los siguientes requisitos:</h3>-->

        <div class="wrapper">
          <div class="item1">
            <div class="item_izq">
              <i class="fa-solid fa-plane-departure  fa-3x fa-shake icon_box" ></i>
            </div>

            <div class="item_der">
              <color-orange>Descansáis en </color-orange> las vacaciones / días de libranza
            </div>
          </div>

          <div class="item2">
            <div class="item_izq">
              <i class="fa-solid fa-hammer fa-3x fa-shake icon_box" ></i>
            </div>

            <div class="item_der">
              <color-orange>Hacéis las </color-orange>guardias asignadas<color-orange> de antemano</color-orange>
            </div>

          </div>

          <div class="item3">
            <div class="item_izq">
              <i class="fa-solid fa-scale-balanced fa-3x fa-shake icon_box" ></i>
            </div>

            <div class="item_der">
              Repartimos equitativamente las guardias <color-orange>de los días festivos y del total </color-orange>
            </div>
          </div>

          <div class="item4">
            <div class="item_izq">
              <i class="fa-solid fa-bed  fa-3x fa-shake icon_box" ></i>
            </div>

            <div class="item_der">
              Maximizamos<color-orange> los días de </color-orange>separación entre guardias
            </div>

          </div>

          <div class="item5">
            <div class="item_izq">
              <i class="fa-solid fa-people-group  fa-3x fa-shake icon_box" ></i>
            </div>

            <div class="item_der_fin">
              Decide quién va con quién Ej: <color-orange>Los R1 estarán de guardia con los R4</color-orange>
            </div>

          </div>

          <div class="item6">
            <div class="item_izq">
              <i class="fa-solid fa-comments  fa-3x fa-shake icon_box" ></i>
            </div>

            <div class="item_der_fin">
              Puedes pedirnos cualquier otra condición <color-orange>en los comentarios finales del formulario</color-orange>
            </div>

          </div>

          </div>

        </div>


      </div>

    </div>
</section>
