<!-- Pricing -->

<section class="section-ptg padding100" id="pricing">

  <h2 class="section-heading container-text">Elige el plan </h2>
    <div class="texto">
      que más se ajuste a tus necesidades
    </div>
  <div class="row">
    <div class="col-md-6" style="margin-left: auto">

      <div class="card">
        <div class="card-header">
          <h3 class="mini-title-ptg">Básico</h3>
        </div>
        <div class="card-body">
          <h2 class="mini-title-ptg-large">0 €</h2>
          <p>Solución al instante</p>
          <p>Enlace para recuperarla</p>
          <p>Condiciones limitadas</p>
          <button class="btn btn-ptg-naranja" onClick="document.getElementById('form').scrollIntoView();" type="button">¡Pruébame!</button>
        </div>
      </div>
    </div>
    <div class="col-md-6" style="margin-right: auto">
      <div class="card">
        <div class="card-header">
          <h3 class="mini-title-ptg">Personalizado</h3>
        </div>
        <div class="card-body">
          <h2 class="mini-title-ptg-large"> - €</h2>
          <p>Todas las planillas</p>
          <p>Condiciones ilimitadas</p>
          <p>Servicios adhoc</p>


          <a href="mailto:info@pontusguardias.com">
            <button class="btn btn-ptg" type="button" >Solicita presupuesto</button>
          </a>

        </div>
      </div>
    </div>
  </div>


</section>
