<!-- Sobre la web -->

<!-- <section class="colored-section" id="sobrelaweb">-->

<section class="white-section" id="sobrelaweb">

  <div class="container-fluid">
    <h3 class="section-heading container-text ">Sobre la web</h3>

  <div class="ali_izq ">
    <color-orange>PonTusGuardias.com</color-orange> es un proyecto que surge durante la pandemia, mientras veía a mi mujer
    discutiendo con un folio para hacer un reparto equitativo de guardias en su servicio. Así que, como buen ingeniero,
    tuve que proponer una solución en Excel.
    Una cosa llevó a otra y, poco a poco, una tabla en Excel se ha convertido en esta página web.<bold-text> Gracias a todos vosotros, en estos 4 años, he
    ido mejorando el algoritmo y he incluido nuevas funcionalidades que os hacían falta en vuestro servicio</bold-text>.
    <br>
    <br>
    Siento si encontráis alguna errata, no me dedico a crear webs profesionalmente. Todavía se me escapan algunas cosas,
    pero según las voy detectando trato de corregirlas. No obstante, <bold-text>el algoritmo fue diseñado inicialmente por una amiga matemática especializada en este área de la materia y no tengo duda de su eficacia</bold-text>.
    <br>
    <br>
    <bold-text>Gracias a todos los que aportáis vuestro granito de arena</bold-text>: compartiéndolo con vuestros compañeros, sugiriendo las necesidades de vuestro servicio, proponiendo puntos de mejora...
    <color-orange>Estoy encantado de escuchar todas vuestras propuestas.</color-orange>
    <br>
    <br>
    Espero que disfrutéis de la web y que os ahorre mucho tiempo.
    <br>
    <br>
    <bold-text>Gracias por confiar en <color-orange>PonTusGuardias.com</color-orange>.
    <br>
    <br>
    Con mucho cariño,
    <br>
    <br>
    Kiko</bold-text>
</div>
  </div>
</section>