<section class="colored-section" id="title">

  <div class="container-fluid-navbar">

    <!-- Nav Bar -->

    <nav class="navbar navbar-expand-lg navbar-dark">

      <a class="navbar-brand" href="/">PonTusGuardias.com</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/#ComoFunciona" id="BtnComoFuncionaNav">¿Cómo funciona?</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#form" id="BtnPruebameNav">Diseñar Planilla</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/#buscador" id="BtnBuscarPlanillaNav">Buscar mi planilla</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#pricing" id="BtnPricingNav">Precios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#sobrelaweb" id="BtnSobreLaWebNav">Sobre la web</a>
          </li>
        </ul>

      </div>
    </nav>
  </div>

  <script>
    // Add an event listener to the button
    document.getElementById('BtnComoFuncionaNav').addEventListener('click', function () {
      // Call the gtag() function to send the event data
      gtag('event', 'ComoFunciona', {
        'button_name': 'BtnComoFuncionaNav'
      });
    });
    // Add an event listener to the button
    document.getElementById('BtnPruebameNav').addEventListener('click', function () {
      // Call the gtag() function to send the event data
      gtag('event', 'Pruebame', {
        'button_name': 'BtnPruebameNav'
      });
    });
    // Add an event listener to the button
    document.getElementById('BtnBuscarPlanillaNav').addEventListener('click', function () {
      // Call the gtag() function to send the event data
      gtag('event', 'BuscarPlanilla', {
        'button_name': 'BtnBuscarPlanillaNav'
      });
    });

    // Add an event listener to the button
    document.getElementById('BtnPricingNav').addEventListener('click', function () {
      // Call the gtag() function to send the event data
      gtag('event', 'Pricing', {
        'button_name': 'BtnPricingNav'
      });
    });

    // Add an event listener to the button
    document.getElementById('BtnSobreLaWebNav').addEventListener('click', function () {
      // Call the gtag() function to send the event data
      gtag('event', 'SobreLaWeb', {
        'button_name': 'BtnSobreLaWebNav'
      });
    });
  </script>
</section>
<!-- Title -->
<section>

  <div class="row container-fluid">

    <div class="col-lg-6 ">
      <h1 class="title-ptg padding30">Confecciona tu planilla fácilmente y sin registrarte</h1>

      <button type="button" class="btn btn-ptg-naranja" onClick="document.getElementById('form').scrollIntoView();"
        id="BtnPruebameTit">¡Pruébame gratis!</button>
    </div>

    <div class="col-lg-6 feature-box">
      <img class=" img-fluid foto-ptg-1" src="images/undraw_medicine_b-1-ol.svg" alt="doctors-mockup">
    </div>

  </div>



</section>

<script>
  // Add an event listener to the button
  document.getElementById('BtnPruebameTit').addEventListener('click', function () {
    // Call the gtag() function to send the event data
    gtag('event', 'Pruebame', {
      'button_name': 'BtnPruebameTit'
    });
  });
</script>