
  <!-- Call to Action -->

  <section id="cta">
    <div class="container-fluid">
      <h3 class="big-heading">Porque no habéis estudiado para perder el tiempo en organizar guardias</h3>
      <button type="button" class="btn btn-ptg-naranja" onClick="document.getElementById('form').scrollIntoView();">¡Pruébame!</button>
    </div>
  </section>
