<!-- Sobre la web -->

<!-- <section class="colored-section" id="sobrelaweb">-->

<section class="white-section" id="sobrelaweb">

  <div class="container-fluid">
    <h3 class="section-heading container-text ">Sobre la web</h3>

  <div class="ali_izq ">
    <color-orange>PonTusGuardias.com</color-orange> surge durante la pandemia. Viendo cómo mi mujer
    discutía con un folio para hacer un reparto equitativo de guardias en su servicio, como buen ingeniero,
    tuve que proponer una solución en Excel.
    Una cosa llevó a otra y, poco a poco, una tabla en Excel se ha convertido en esta página web.<bold-text> Gracias a vuestros comentarios, en estos 4 años, he
    ido mejorando el algoritmo y he incluido nuevas funcionalidades que os hacían falta en vuestros servicios</bold-text>.
    <br>
    <br>
    <bold-text>Gracias a todos los que aportáis vuestro granito de arena</bold-text>: compartiéndolo con vuestros compañeros, avisando de las necesidades de vuestros servicios, detectando puntos de mejora...
    <color-orange>Estoy encantado de escuchar todas vuestras propuestas.</color-orange>
    <br>
    <br>
    Agradezco vuestra paciencia, ya que no le puedo dedicar todo el tiempo que me gustaría a este proyecto. Cuando me planteáis un problema siempre os leo y planteo la mejor solución. No es instantáneo, pero prometo que obtendréis una solución antes o después. 
    <br>
    <br>
    Espero que disfrutéis de la web y que os ahorre mucho tiempo.
    <br>
    <br>
    <bold-text>Gracias por confiar en <color-orange>PonTusGuardias.com</color-orange>.</bold-text>
</div>
  </div>
</section>