<!-- Pricing -->

<section class="section-ptg padding100" id="pricing">

  <h2 class="section-heading container-text">Elige un plan </h2>

  <div class="row">
    <div class="col-md-6" style="margin-left: auto">

      <div class="card">
        <div class="card-header">
          <h3 class="mini-title-ptg">Básico</h3>
        </div>
        <div class="card-body">
          <h2 class="mini-title-ptg-large">0 €</h2>
          <p>Solución al instante</p>
          <p>Condiciones limitadas</p>
          <p>Un mes por planilla</p>
          <button class="btn btn-ptg-naranja" onClick="document.getElementById('form').scrollIntoView();" type="button"
            id="BtnPruebamePricing">¡Pruébame gratis!</button>
        </div>
      </div>
    </div>
    <div class="col-md-6" style="margin-right: auto">
      <div class="card">
        <div class="card-header">
          <h3 class="mini-title-ptg">Personalizado</h3>
        </div>
        <div class="card-body">
          <h2 class="mini-title-ptg-large"> - €</h2>
          <p>Servicios adhoc</p>
          <p>Condiciones ilimitadas</p>
          <p>Agente exclusivo</p>

          <a href="mailto:info@pontusguardias.com">
            <button class="btn btn-ptg bold" type="button">Solicita presupuesto</button>
          </a>

        </div>
      </div>
    </div>
  </div>


</section>


<script>
  // Add an event listener to the button
  document.getElementById('BtnPruebamePricing').addEventListener('click', function () {
    // Call the gtag() function to send the event data
    gtag('event', 'Pruebame', {
      'button_name': 'BtnPruebamePricing'
    });
  });
</script>