<!-- Features -->

<section class="white-section" id="features">

  <div class="container-fluid">

    <div class="row">
      <div class="feature-box col-lg-4">
        <i class="icon fas fa-check-circle fa-4x"></i>
        <h3 class="feature-title-box">Fácil de usar</h3>
        <p>Solo es necesario rellenar el cuestionario online.</p>
      </div>

      <div class="feature-box col-lg-4">
        <i class="icon fas fa-bullseye fa-4x"></i>
        <h3 class="feature-title-box">Multiplataforma</h3>
        <p>Desde tu móvil, tablet u ordenador.</p>
      </div>

      <div class="feature-box col-lg-4">
        <i class="icon fas fa-heart fa-4x"></i>
        <h3 class="feature-title-box">Eficacia garantizada</h3>
        <p>A la altura de tus necesidades.</p>
      </div>
    </div>

  </div>
</section>