<!-- FORM -->


<section class="colored-section" id="form">


  <div class="container-fluid" id="contenedor">
    <div class="container-md container_k">
      <div class="progress progress_k">
        <div class="progress-bar progress-bar-striped bg-ptg progress-bar-animated" role="progressbar"
          style="width: 100%" aria-valuenow="<%= topStep %>" aria-valuemin="0" aria-valuemax="<%= topStep %>"></div>
      </div>


      <h3 class="container-text feature-title-box">¡Muchas gracias por completar el formulario!</h3>
      <h3 class="container-text feature-title-box">Estamos generando tu planilla. Danos unos segundos...</h3>

      <div class="lds-ellipsis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>

      <color-orange>
        <div class="container-text" id="frases"></div>
      </color-orange>
      <form action="/mostrarSolucion" method="GET" id="formulario_final" name="formulario_final">

        <button class="btn btn-ptg defaultsink" type="">Mostrar resultado</button>
      </form>
      <script type="text/javascript">
        var auto_refresh = setTimeout(function () {
          submitform();
        }, 1000);

        function submitform() {
          document.getElementById("formulario_final").submit();
        }
      </script>
    </div>
  </div>


</section>
<script type="text/javascript">
  $(document).ready(function () {
    $(document).scrollTop($("#form").offset().top);
  });

  let frases = ["Seguimos trabajando en tu planilla, no cierres la pestaña",
    "Estamos revisando hasta 3.000 soluciones y hay que elegir la mejor",
    "Muchas gracias por tu paciencia, ya casi lo tenemos",
    "La espera valdrá la pena :)",
    "Estamos manos a la obra, aprovecha y descansa estos segundos",
    "Si no hubiera ninguna solución, ya te lo hubiéramos avisado"
  ]

  function getRandomInt(min, max) {
    const minCeiled = Math.ceil(min);
    const maxFloored = Math.floor(max);
    return Math.floor(Math.random() * (maxFloored - minCeiled) +
      minCeiled); // The maximum is exclusive and the minimum is inclusive
  }
  let aleat = getRandomInt(0, frases.length)

  document.getElementById("frases").innerHTML = frases[aleat]
</script>